@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://al.spitaliamerikan.com/wp-content/uploads/2017/11/sak-870x350.jpg" width="100%" style="border-radius:15px" alt="Alternate Text" />
</div>
